# exclude credentials 
res/connection_data.json

# exclude personal directories
api_responses
selenium
web_pages
python_scripts

# exclude build files
build
releases

# log files
src/geckodriver.log
logs/connection_logs_example.csv