# exclude credentials 
res/connection_data.json

# exclude personal directories
api_responses
selenium
web_pages
python_scripts
tmp

# python cache
__pycache__
*.pyc
*geckodriver.log
/**/geckodriver.log

# exclude personal test scripts
scripts/install_geckodriver.sh
scripts/bash_scripting.md
scripts/param_returns.sh
scripts/text
scripts/command_params.sh

# exclude build files
build
releases

# log files
src/geckodriver.log
logs/connection_logs_example.csv
